.g{
    color: red;
}
.nav-container{
    display: flex;
    align-items: center;
    gap: 12px;
}
.nav-menu{
    display: flex;
    
    align-items: center;
}
nav{
    
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
    margin-right: 20px;
}
.follow-us{
    background-color: lightgray;
    width:145px;
    padding: 10px;
}
.banner-pic{
    background-image: url("./Group\ 18.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    width:600px;
    height:320px;

}
.banner{
    display: flex;
    justify-content: space-around;
}
.btn-1{
    border:none;
    border-radius:10px;
    width:100px;
    padding:10px;
    background-color: blueviolet;
    color: #FFF;
}
.btn-2{
    border:none;
    border-radius:10px;
    width:100px;
    padding:10px;
    background-color: aquamarine;
    color: #FFF;
}
.goat{
    color: palevioletred;
}